# Dev install => pip install -r requirements.txt
#   For developement install the package as editable "-e" option
#   and install packages used for dev. eg: pytest, etc
#   sphinx is used to auto generate the documentation
# setup.py has the packages required for production, install -e . also installs for dev
-e .  
pytest
sphinx
sphinx-build
sphinx-rtd-theme
